tbody {
justify-content: center;
margin-left: auto;
margin-right: auto;
width: 90%;
}

.employee-img {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.list-group-item {
    margin-top: 1vw;
    flex-direction: column;
}

td {
    display: block;
    top: 0; right: 0; bottom: 0; left: 0;
    text-align: center;
}

.employee-name {
    font-weight: bold;
}