/* .nav { */
    /* background-color: red; */
/* } */

.navbar-toggler {
    margin-left: auto; 
    margin-right: auto;
    /* background-color: red; */
}

.navbar-collapse {
    /* justify-items: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    justify-content: center;
}

.search button {
    float: left;
    /* justify-content: center; */
    /* flex-direction: row; */
    /* justify-self: center; */
    /* justify-items: center; */
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    margin-left: 1.5vw;
    /* padding-left: ; */
    /* text-align: center; */

    /* margin: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-left: auto;  */
    /* margin-right: auto; */
}

.search button, .nav-item {
    float: left;
    /* display: inline-block; */
    /* margin: 0; */
    /* position: absolute; */
}